{% extends 'base.html.twig' %}

{% block title %}Bakery
{% endblock %}


{% block body %}

	<header>
		{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
			{% set menu_2  %}
			<li>
				<a>Welcome
					{{app.user.name }}!</a>
			</li>
			{% endset %}

			{% set menu_3  %}
			<li>
				<a href="{{ path('app_logout') }}">Logout</a>
			</li>
			{% endset %}

            {% set menu_my_orders  %}
            <li>
				<a href="#">My Orders</a>
				{# <a href="{{ path('myOrders')}}">My Orders</a> #}

			</li>
			{% endset %}


		{% else %}
			{% set vars = [] %}
			{% set menu_2  %}
			<li>
				{# <a href="#">Register</a> #}

				<a href="{{ path('app_register')}}">Register</a>
			</li>
			{% endset %}

            {% set menu_3  %}
			<li>
				{# <a href="#">Login</a> #}
				<a href="{{ path('app_login')}}">Login</a>

			</li>
			{% endset %}

			{% set menu_my_orders = '' %}
		{% endif %}

		{% set menu_1  %}
		<li
			class="menu-active">
			<a href="{{ path('bakery')}}">Menu</a>
		</li>
		{% endset %}


		{% set vars = {  menu_1, menu_2, menu_3, menu_my_orders} %}

		{% include "/includes/navebar.html.twig" with vars %}


	</header>

	<!-- start banner Area -->
	<section class="banner-area relative" id="home">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row fullscreen d-flex justify-content-center align-items-center">
				<div class="banner-content col-lg-10 col-md-12 justify-content-center">
					<h6 class="text-uppercase">Whenever we bake, bake with our heart</h6>
					<h1>
						Love with baking items
					</h1>
					<p class="text-white mx-auto">
						Since Americans in the South began roasting pigs publicly, Barbecues have been a staple of North American living. For many, grilling becomes a routine mealtime activity.
					</p>
					<a href="#" class="primary-btn squire text-uppercase mt-10">Check Our Menu</a>
					{# path('app_login') #}
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->


{% endblock %}
